.faqs {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

.faqs__container {
    margin: 0 20px;
    display: flex;
   /* align-items: flex-start; */
    flex: 1;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.faqs__container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.faqs__container > div {
    padding: 20px;
}

.faqs__container > .question {
    flex: .25;
    text-align: justify;
    background-color: rgba(30, 144, 255, 0.8);
    color: #444;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.faqs__container > .answer {
    flex: 1;
    background-color: rgba(30, 144, 255, 0.4);
    color: #333;
    line-height: 1.5;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .faqs {
      justify-content: center;
    }
  
    .faqs__container {
      margin: 10px;
      border-radius: 10px;
      flex-direction: column;
      overflow: hidden;
    }
  
    .faqs__container > .question {
      flex: 1;
      border-bottom: none;
      text-align: center;
    }
  
    .faqs__container > .answer {
      flex: 1;
      font-size: 0.9rem;
      text-align: justify;
    }
}
  