.scrollUp {
    background-color: rgba(30, 144, 255, 0.5);
    padding: 12px 14px;
    position: fixed;
    bottom: 8px;
    right: 8px;
    border-radius: 99px;
    z-index: 1;
    opacity: 0.8;
    cursor: pointer;
    transition: box-shadow 0.3s, opacity 0.3s;
    animation: openingAnim 7s;
}
.scrollUp:hover {
    box-shadow: 0 0 3px 2px rgba(30, 144, 255, 1);
    opacity: 1;
}

.contents {
    align-items: center;
    padding: 0 20px;
    margin: 0 4%;
}

.contents__container{
    background-color: whitesmoke;
    margin: 0 auto;
    max-width: 1800px;
}

.contents__storyContainer {
    padding: 15px 0 5px;
}

.contents__trainingContainer, .contents__bmiContainer, .contents__membershipContainer {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4% 0;
    
}
.contents__story > h1, .contents__trainingContainer > h1, .contents__membershipContainer > h1 {
    letter-spacing: 4px;
    padding-top: 4%;
    margin-bottom: 1%;
    text-align: center;
}
  
.contents__moreButton {
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 5px !important;
    padding: 5px !important;
    border: 1px solid whitesmoke !important;
    margin-top: 25px !important;
    background-color: rgba(211, 211, 211, .2) !important;
    box-shadow: 0 0 5px 2px #555;
    animation: moveLeftRight 1.25s linear infinite;
    transition: transform 0.3s;
}
@keyframes moveLeftRight {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
}
.contents__moreButton:hover {
    transform: scale(1.05);
    animation-play-state: paused;
    box-shadow: 0 0 10px 4px #444;
}

.contents__storyIcons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contents__storyLeftIcon {
    animation: moveLeft 1.25s infinite;
}
@keyframes moveLeft {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
}
.contents__storyRightIcon {
    animation: moveRight 1.25s infinite;
}
@keyframes moveRight {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
}

.contents__storyContainer {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    width: 95%;
    margin: 2% auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    border-left: 2px solid #111;
    border-right: 2px solid #111;
}
.contents__storyContainer::-webkit-scrollbar {
    width: 0;
}
 


@media (max-width: 768px) {
    .scrollUp {
      bottom: 15px;
      right: 15px;
    }
  
    .contents {
      padding: 0px;
      margin: 0%;
    }
  
    .contents__trainingContainer, .contents__bmiContainer, .contents__membershipContainer {
      padding: 4% 0;
    }
  
    .contents__moreButton {
      margin-top: 15px !important;
      padding: 3px !important;
    }
  
    .contents__storyContainer {
      margin: 2% auto;
    }
}
  
