.createAccount {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #000,60%, #111);
}
  

.createAccount__logo {
    width: 20rem;
    object-fit: contain;
    margin: 10px auto;
}

.createAccount__container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    background-color: #333; /* Matching background color */
    box-shadow: 0 0 20px 5px #444;
}

.createAccount__containerHeading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    color: rgba(255, 255, 255, .8);
    letter-spacing: 3px;
}

.createAccount__containerHeading > h1 {
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createAccount__container > form > h5 {
    margin-bottom: 5px;
    color: whitesmoke;
}

.createAccount__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 98%;
    outline-width: 0;
}

.createAccount__container > p {
    margin-top: 15px;
    font-size: 12px;
    color: whitesmoke;
}

.createAccount__registerButton {
    color: whitesmoke !important;
    font-weight: 900 !important;
    font-size: large !important;
    text-transform: inherit !important;
    border: 1px solid lightgray !important;
    border-radius: 5px !important;
    padding: 5px !important;
    border: 1px solid whitesmoke !important;
    width: 98%;
    margin-top: 5px !important;
}
.createAccount__registerButton:hover {
    color: whitesmoke !important;
    background-color: #101820 !important;
    border: 1px solid #101820 !important;
}

